# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Temporary files
*.tmp
*.temp

# Others
*.pid
*.seed
*.tgz
